#heading{
    color: red;
}
.header{
    display: flex;
    justify-content: space-between;
    border: solid black 1px;
}
.logo{
    width: 100px;
}
.nav-items{
    padding: 0px 20px;
}
.nav-items > ul{
    font-size : 20px;
    display: flex;
    list-style-type: none;
}
.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.restaurant-card{
    width: 300px;
    height: 400px;
    border: 1px solid gray;
    margin: 10px;
}
.restaurant-card:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px gray;
}
.search{
    padding: 20px;
}

.restaurant-img{
    width: 100%;
    height: 200px;
}
.restaurant-list{
    display: flex;
    flex-wrap: wrap;

}
.filter-btn{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}   
.shimmer-card{
    width: 300px;
    height: 400px;
    border: 1px solid gray;
    margin: 10px;
    background-color: #f0f0f0;
    animation: shimmer 1.5s infinite;
}
.login-btn{
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
}
.filter-search{
    display: flex;
}